{% extends 'base.html' %}

{% block title %}O hře{% endblock %}
{% block subtitle %}O hře{% endblock %}

{% block content %}

  <div id="updates">
    <h2 id="kontaktynadpis">* O hře *</h2>

    <div class="update-entry">
      <p class="update-header">[v1!] &mdash; 23.03.2026 &nbsp;<span class="tag tag-patch">O hře</span></p>
      <p class="update-title">O hře ShieldBash</p>
      <ul>
        <li>- Hra ShieldBash je jednoduchá počítačová hra, ve které hráč ovládá štít a odráží projektily.</li>
        <li>- Hra vznikla jako projekt pro školní ročníky Střední průmyslové a vyšší odborné školy Jana Palacha 1840 Kladno 2023-2027.</li>
        <li>- Jednoduché ovládání WSAD/šipky umožňují snadné hraní i pro méně náročné hráče.</li>
        <li>- Hra jako hlavní atribut využívá počítání skóre, pomocí kterého si hráč může soutěžit o nejvyšší výsledek.</li>
      </ul>
      <a href="{{ url_for('login') }}">Nečekej a hraj nyní!</a>
    </div>

  </div>

  <div id="sidebar">

    <div class="side-box">
      <p class="box-title">:: O hře ::</p>
      <p>ShieldBash je zdrama počítačová hra. Ovládej svůj štít a odrážej projektily. Získej co nejvyšší skóre!</p>
    </div>

    <div class="side-box">
      <p class="box-title">:: Jak hrát ::</p>
      <p>
        Přihlaš se pomocí Loginu<br />
        Spusť hru<br />
        Získej co nejvyšší skóre<br />
      </p>
      <p><a href="{{ url_for('login') }}">Login &raquo;</a></p>
    </div>

    <div class="side-box">
      <p class="box-title">:: Links ::</p>
      <p>
        <a href="{{ url_for('leaderboard') }}">Leaderboard</a><br />
        <a href="{{ url_for('about') }}">O hře</a><br />
        <a href="{{ url_for('contact') }}">Našel jsi chybu?</a>
      </p>
    </div>

  </div>

{% endblock %}
