{% extends 'base.html' %}

{% block title %}Kontakt{% endblock %}
{% block subtitle %}Kontakty{% endblock %}

{% block content %}

  <div id="updates">
    <h2 id="kontaktynadpis">* Kontakty *</h2>

    <div class="update-entry">
      <p class="update-header">[v1!] &mdash; 23.03.2026 &nbsp;<span class="tag tag-patch">E-MAIL</span></p>
      <p class="update-title">E-mail</p>
      <ul>
        <li>Jonda: matejkaj@spskladno.cz</li>
        <li>Petr: petr@spskladno.cz</li>
        <li>Hrach: hrach@spskladno.cz</li>
        <li>Kuba: kuba@spskladno.cz</li>
        <li>- pro nahlášení chyby kontaktujte kteréhokoli člena týmu</li>
      </ul>
    </div>

  </div>

  <div id="sidebar">

    <div class="side-box">
      <p class="box-title">:: O hře ::</p>
      <p>ShieldBash je zdrama počítačová hra. Ovládej svůj štít a odrážej projektily. Získej co nejvyšší skóre!</p>
      <p><a href="{{ url_for('about') }}">Více info &raquo;</a></p>
    </div>

    <div class="side-box">
      <p class="box-title">:: Jak hrát ::</p>
      <p>
        Přihlaš se pomocí Loginu<br />
        Spusť hru<br />
        Získej co nejvyšší skóre<br />
      </p>
      <p><a href="{{ url_for('login') }}">Login &raquo;</a></p>
    </div>

    <div class="side-box">
      <p class="box-title">:: Links ::</p>
      <p>
        <a href="{{ url_for('leaderboard') }}">Leaderboard</a><br />
        <a href="{{ url_for('about') }}">O hře</a><br />
        <a href="{{ url_for('contact') }}">Našel jsi chybu?</a>
      </p>
    </div>

  </div>

{% endblock %}
