{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block subtitle %}Hlavní stránka{% endblock %}

{% block content %}

  <div id="updates">
    <h2>* Update Notes *</h2>

    <div class="update-entry">
      <p class="update-header">[v1.1.1] &mdash; 19.03.2026 &nbsp;<span class="tag tag-patch">PATCH</span></p>
      <p class="update-title">Další etapa vývoje</p>
      <ul>
        <li> - Rozdělení rolí pro toto období</li>
        <li> + Grafický design menu, hry a WEBU - Jonda</li>
        <li> + Vývoj menu - Petr</li>
        <li> + Vývoj a Vedení projektu - Kuba</li>
        <li> + Vývoj funkčnosti hry - Hrach</li>
      </ul>
    </div>

    <div class="update-entry">
      <p class="update-header">[v1.0.1] &mdash; 20.11.2025 &nbsp;<span class="tag tag-patch">PATCH</span></p>
      <p class="update-title">Započetí vývoje</p>
      <ul>
        <li>ZAPOČETÍ PROGRAMOVACÍHO VÝVOJE</li>
        <li> - Rozdělení rolí pro toto období</li>
        <li> + Vedoucí vývoje - Jonda</li>
        <li> + Základní grafické rozhraní - Petr</li>
        <li> + Vývoj kodu - Hrach, Jakub</li>
      </ul>
    </div>

    <div class="update-entry">
      <p class="update-header">[v0.0.1] &mdash; 23.3.2024 &nbsp;<span class="tag tag-patch">PATCH</span></p>
      <p class="update-title">Project Born</p>
      <ul>
        <li> + Projekt ShieldBash byl vytvořen</li>
        <li> + tým 4 Programátorů</li>
        <li> + Petr(frajer), Jonda(ja), Hrach(hrach), Kuba(trochu míň frajer)</li>
      </ul>
      <a href="{{ url_for('about') }}">Více o projektu - About &raquo;</a>
    </div>

  </div>

  <div id="sidebar">

    <div class="side-box">
      <p class="box-title">:: O hře ::</p>
      <p>ShieldBash je zdrama počítačová hra. Ovládej svůj štít a odrážej projektily. Získej co nejvyšší skóre!</p>
      <p><a href="{{ url_for('about') }}">Více info &raquo;</a></p>
    </div>

    <div class="side-box">
      <p class="box-title">:: Jak hrát ::</p>
      <p>
        Přihlaš se pomocí Loginu<br />
        Spusť hru<br />
        Získej co nejvyšší skóre<br />
      </p>
      <p><a href="{{ url_for('login') }}">Login &raquo;</a></p>
    </div>

    <div class="side-box">
      <p class="box-title">:: Links ::</p>
      <p>
        <a href="{{ url_for('leaderboard') }}">Leaderboard</a><br />
        <a href="{{ url_for('about') }}">O hře</a><br />
        <a href="{{ url_for('contact') }}">Našel jsi chybu?</a>
      </p>
    </div>

  </div>

{% endblock %}
